<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/inicio']">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Farmacia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/producto']">Productos</a>
          <a class="dropdown-item" [routerLink]="['/unidad']">Unidades</a>
          <a class="dropdown-item" [routerLink]="['/venta']">Ventas</a>
          <a class="dropdown-item" [routerLink]="['/nota-credito-boleta']">Nota de Crédito Boleta</a>
          <a class="dropdown-item" [routerLink]="['/nota-credito-factura']">Nota de Crédito Factura</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Atención
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/cita']">Citas</a>
          <a class="dropdown-item" [routerLink]="['/producto-servicio']">Productos Servicio</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" style="color: white"  [routerLink]="['/usuario']">Usuarios</a> </li>
    </ul>
    <ul class="my-2 my-lg-0">
        <a class="nav-link" style="color: white" href="" (click)="finalizar()">Finalizar</a> 
    </ul>
  </div>
</nav>