<nav-component></nav-component>
<br>
<div class="container-fluid">
	<div class="row" *ngIf="inicio == true">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			  <h1 class="h3 mb-3 font-weight-normal text-center" style="color: red"><u>Actualizar</u></h1>
			  <div class="form-group">
			    <label for="exampleFormControlInput1">Nombre</label>
			    <input type="text" class="form-control" #nombre_actualizar_producto value="{{obtener_producto_editar?.nombre}}">
			  </div>
			  <div class="form-group">
			    <label for="exampleFormControlInput1">Codigo de Barras</label>
			    <input type="text" class="form-control" #codigo_actualizar_producto value="{{obtener_producto_editar?.codigo}}">
			  </div>
			  <div class="form-group">
			    <label for="exampleFormControlTextarea1">Descripción</label>
			    <textarea class="form-control"  #descripcion_actualizar_producto rows="3">{{obtener_producto_editar?.descripcion}}</textarea>
			  </div>
			  <div class="form-group">
			  	<button *ngIf="actualizar_producto == true" class="btn btn-info btn-block" (click)="actualizarProducto(nombre_actualizar_producto.value, codigo_actualizar_producto.value, descripcion_actualizar_producto.value)">Actualizar</button>
			  </div>
		</div>
		<div class="col-md-7">
			<h1 class="h3 mb-3 font-weight-normal text-center" style="color: red"><u data-toggle="modal" data-target="#sucursalesAgregar">Sucursales</u></h1>
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Sucursal</th>
			      <th scope="col">Stock</th>
			      <th scope="col">Precio</th>
			      <th scope="col">Estado</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let ps of obtener_producto_sucursal; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{ps.nombre}}</td>
			      <td><input type="number" class="form-control" value="{{ps.stock}}" #stock_editar_producto_sucursal (keyup.enter)="editarSucursalProductoPrecio(stock_editar_producto_sucursal.value,ps.id)"></td>
			      <td><button class="btn btn-danger" (click)="modalAgregarPrecio(ps.id,ps.codigo_sucursal)">Precio</button></td>
			      <td *ngIf="ps.nombre_estado == 'Activo' && estado_pro_sucu == true" class="table-success" (click)="desactivarStockSucursal(ps.id)">{{ps.nombre_estado}}</td>
			      <td *ngIf="ps.nombre_estado == 'Desactivado' && estado_pro_sucu == true" class="table-danger" (click)="activarStockSucursal(ps.id)">{{ps.nombre_estado}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row" *ngIf="inicio == false">
		<div class="col-md-12">
			<div class="loader" id="loader">Loading...</div>
		</div>
	</div>
</div>
<div class="modal fade" id="sucursalesAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div>
		  <div class="form-group">
		    <label for="exampleFormControlInput1">Stock</label>
		    <input type="number" class="form-control" #stock placeholder="80" [(ngModel)]="nombre_sucursal">
		  </div>
		    <div class="form-group">
			    <label for="exampleFormControlSelect1">Sucursal</label>
			    <select class="form-control" #sucursal_agregar>
			      	<ng-template ngFor let-suc [ngForOf]="sucursal">
			      		<option *ngIf="suc.sucursal_id == null" value="{{suc.id}}">{{suc.nombre}}</option>
			      	</ng-template>
			    </select>
			</div>
		</div>
      </div>
      <div *ngIf="agregar_sucursal_botton == true" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button class="btn btn-primary" (click)="agregarSucursal(stock.value,sucursal_agregar.value)">Guardar</button>
      </div>
      <div *ngIf="agregar_sucursal_botton == false" class="modal-footer">
		<button class="btn btn-success btn-block">Cargando ...</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAgregarPrecio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="row">
	      <div class="col-md-4">
	      	<h1 class="h3 mb-3 font-weight-normal text-center" style="color: red"><u>Agregar Precio</u></h1>
	      	<div class="form-group">
			    <label for="exampleFormControlInput1">Precio</label>
			    <input type="text" class="form-control" #precio placeholder="8.3" [(ngModel)]="precio_sucursal_pro">
			</div>
		    <div class="form-group">
			    <label for="exampleFormControlSelect1">Unidades</label>
			    <select class="form-control" #unidad_agregar>
			      	<ng-template ngFor let-und [ngForOf]="unidad_pro">
			      		<option *ngIf="und.unidad_id == null" value="{{und.id}}">{{und.nombre}} - {{und.representacion}}</option>
			      	</ng-template>
			    </select>
			</div>
			<div class="form-group"><button *ngIf="agregar_sucursal_precio_botton == true" class="btn btn-primary btn-block" (click)="agregarPrecioProductoSucursal(precio.value,unidad_agregar.value)">Agregar</button></div>
	      </div>
	      <div class="col-md-8">
	      	<h1 class="h3 mb-3 font-weight-normal text-center" style="color: red"><u>Lista de Precios</u></h1>
			<div *ngIf="alerta_productos"><p>{{alerta_productos}}</p></div>
			<table class="table" *ngIf="!alerta_productos">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Precio</th>
			      <th scope="col">Unidad</th>
			      <th scope="col">estado</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pps of productos_precio_su; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td><input type="text" class="form-control" value="{{pps.precio}}" #precio_editar_producto_sucursal (keyup.enter)="editarSucursalProducto(precio_editar_producto_sucursal.value,pps.id)"></td>
			      <td>{{pps.nombre_unidad}}</td>
			      <td *ngIf="pps.estado == '1' && estado_pro_sucu_pre == true" class="table-success" (click)="desactivarPrecioSucursal(pps.id)">Activo</td>
			      <td *ngIf="pps.estado == '2' && estado_pro_sucu_pre == true" class="table-danger" (click)="activarPrecioSucursal(pps.id)">Desactivado</td>
			    </tr>
			  </tbody>
			</table>
	      </div>
      	</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" (click)="cerrarModalPrecio()">Cerrar</button>
      </div>
    </div>
  </div>
</div>