<nav-component></nav-component>
<br>
<h1 class="h3 mb-3 font-weight-normal text-center" style="color: red"><u data-toggle="modal" data-target="#exampleModal">PRODUCTOS</u></h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline float-left">
			  <div class="form-group mx-sm-3 mb-2">
			    <label for="inputPassword2" class="sr-only">Nombre</label>
			    <input type="text" class="form-control" #nombre_buscar placeholder="Nombre">
			  </div>
			  <button *ngIf="buscar_nombre == true" (click)="buscarNombre(nombre_buscar.value)" class="btn btn-primary mb-2">Buscar por Nombre</button>
			</div>
			<div class="form-inline float-right">
			  <div class="form-group mx-sm-3 mb-2">
			    <label for="inputPassword2" class="sr-only">Código</label>
			    <input type="text" class="form-control" #codigo_buscar placeholder="Código de Barras">
			  </div>
			  <button *ngIf="buscar_codigo == true" (click)="buscarCodigo(codigo_buscar.value)" class="btn btn-primary mb-2">Buscar por Código</button>
			</div>
		</div>
		<div class="col-md-12">
			<table  *ngIf="inicio == true" class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Editar</th>
			      <th scope="col">Reporte</th>
			      <th scope="col">Estado</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pro of producto; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{pro.nombre}}</td>
			      <td><button class="btn btn-warning" [routerLink]="['/producto-editar', num1+pro.id+num2]">Editar</button></td>
			      <td><button class="btn btn-info" [routerLink]="['/producto-reporte', num1+pro.id+num2]">Editar</button></td>
			      <td *ngIf="pro.estado == 1 && estado == true" (click)="desactivar(pro.id)" class="table-success">Activo</td>
			      <td *ngIf="pro.estado == 2 && estado == true" (click)="activar(pro.id)" class="table-danger">Inactivo</td>
			    </tr>
			  </tbody>
			</table>
			<button *ngIf="actualizar == true" (click)="obtenerProducto()" class="btn btn-primary mb-2">Actualizar</button>
				<div *ngIf="inicio == false">
					<div class="loader" id="loader">Loading...</div>
				</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div  *ngIf="registrar == true">
		  <div class="form-group">
		    <label for="exampleFormControlInput1">Nombre</label>
		    <input type="text" class="form-control" [(ngModel)]="nombre">
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlTextarea1">Descripción</label>
		    <textarea class="form-control" rows="3" [(ngModel)]="descripcion"></textarea>
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlInput1">Laboratorio</label>
		    <input type="text" class="form-control" [(ngModel)]="laboratorio">
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlInput1">Laboratorio</label>
		    <input type="date" class="form-control" [(ngModel)]="fecha_vencimiento">
		  </div>
		</div>
		<div *ngIf="registrar == false">
			<div class="loader" id="loader">Loading...</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button class="btn btn-primary" (click)="registrarProducto()">Guardar</button>
      </div>
    </div>
  </div>
</div>